<link rel="stylesheet" type="text/css" href="../styles/master.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('navbar.ejs') %>

<body>
  <form action="/add-machine" method="post" required>
    <label for="hall">Hall:</label>
    <select name="hall" id="hall"  required>
      <option value="E">E</option>
      <option value="TBM">TBM</option>
      <option value="F">F</option>
      <option value="CDG1">CDG1</option>
      <option value="S3N">S3N</option>
      <option value="T2G">T2G</option>
      <option value="TBS4">TBS4</option>
    </select>
    <br>

    <label for="machineId">Machine ID:</label>
    <input type="text" id="machineId" name="machineId" required>
    <br>

    <label for="machineSN">Machine SN:</label>
    <input type="text" id="machineSN" name="machineSN" required>
    <br>

    <label for="equipmentCode">Equipment Code:</label>
    <input type="text" id="equipmentCode" name="equipmentCode" required>
    <br>

    <br>
    <label for="phaseMV3D">Phase MV3D:</label>
    <select name="phaseMV3D" id="phaseMV3D" required>
      <option value="D1 Phase 1">D1 Phase 1</option>
      <option value="D1 Phase 2">D1 Phase 2</option>
      <option value="D1 Phase 3.1">D1 Phase 3.1</option>
      <option value="D2 Phase 1">D2 Phase 1</option>
      <option value="D2 Phase 2">D2 Phase 2</option>
      <option value="D2 Phase 3.1">D2 Phase 3.1</option>
    </select>
    <br>

    <br>
    <label for="versionRacks">Version Racks:</label>
    <input type="text" id="versionRacks" name="versionRacks" required>
    <br>

    <label for="versionAlgo">Version Algo:</label>
    <input type="text" id="versionAlgo" name="versionAlgo" required>
    <!--
      alg894_4.7
    -->
    <br>

    <label for="sensiAlgo">Sensi Algo:</label>
    <input type="text" id="sensiAlgo" name="sensiAlgo" required>
    <!--
      l100 9.7.5
      n200 8.9.4Br
    -->
    <br>

    <br>
    <label>Révision HVPS</label>
    <br>
    <label for="revHVPS1">1:</label>
    <input type="text" id="revHVPS1" name="revHVPS1" required>
    <label for="revHVPS2">2:</label>
    <input type="text" id="revHVPS2" name="revHVPS2" required>
    <label for="revHVPS3">3:</label>
    <input type="text" id="revHVPS3" name="revHVPS3" required>
    <br>

    <br>
    <label for="ramIAC">Ram IAC:</label>
    <select name="ramIAC" id="ramIAC" required>
      <option value="64">64</option>
      <option value="96">96</option>
      <option value="128">128</option>
      <option value="256">256</option>
    </select>
    <br>

    <label for="ttl">TTL:</label>
    <input type="text" id="ttl" name="ttl" required>
    <br>

    <button type="submit">Add Machine</button>
  </form>
</body>