<link rel="stylesheet" type="text/css" href="../styles/master.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('navbar.ejs') %>

<body>
  <form action="/add-machine" method="post" required>
    <label for="hall">Hall:</label>
    <select name="hall" id="hall"  required>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
      <option value="E">E</option>
      <option value="F">F</option>
      <option value="G">G</option>
    </select>
    <br>

    <label for="machineId">Machine ID:</label>
    <input type="text" id="machineId" name="machineId" required>
    <br>

    <label for="machineSN">Machine SN:</label>
    <input type="text" id="machineSN" name="machineSN" required>
    <br>

    <label for="equipmentCode">Equipment Code:</label>
    <input type="text" id="equipmentCode" name="equipmentCode" required>
    <br>

    <br>
    <label for="phaseMachine">Phase Machine:</label>
    <select name="phaseMachine" id="phaseMachine" required>
      <option value="V1 Phase 1">V1 Phase 1</option>
      <option value="V1 Phase 2">V1 Phase 2</option>
      <option value="V1 Phase 3.1">V1 Phase 3.1</option>
      <option value="V2 Phase 1">V2 Phase 1</option>
      <option value="V2 Phase 2">V2 Phase 2</option>
      <option value="V2 Phase 3.1">V2 Phase 3.1</option>
    </select>
    <br>

    <br>
    <label for="versionRacks">Version Racks:</label>
    <input type="text" id="versionRacks" name="versionRacks" required>
    <br>

    <label for="versionAlgo">Version Algo:</label>
    <input type="text" id="versionAlgo" name="versionAlgo" required>
    <!--
      redacted
    -->
    <br>

    <label for="sensiAlgo">Sensi Algo:</label>
    <input type="text" id="sensiAlgo" name="sensiAlgo" required>
    <!--
      redacted
      redacted
    -->
    <br>

    <br>
    <label>Révision HVPS</label>
    <br>
    <label for="revHVPS1">1:</label>
    <input type="text" id="revHVPS1" name="revHVPS1" required>
    <label for="revHVPS2">2:</label>
    <input type="text" id="revHVPS2" name="revHVPS2" required>
    <label for="revHVPS3">3:</label>
    <input type="text" id="revHVPS3" name="revHVPS3" required>
    <br>

    <br>
    <label for="ramIAC">Ram IAC:</label>
    <select name="ramIAC" id="ramIAC" required>
      <option value="64">64</option>
      <option value="96">96</option>
      <option value="128">128</option>
      <option value="256">256</option>
    </select>
    <br>

    <label for="ttl">TTL:</label>
    <input type="text" id="ttl" name="ttl" required>
    <br>

    <button type="submit">Add Machine</button>
  </form>
</body>