<link rel="stylesheet" type="text/css" href="../styles/navbar.css" />
<nav>
    <ul>
        <li><a href="/listing">Machine Listing</a></li>
        <li><a href="/add">Add Machine</a></li>
    </ul>
</nav>